.camera_div{
    width: 100%;
    height: 100%;
    position: relative;
}

.alerticons{
    height: 30px;
    width: 30px;
    color: red;
    margin-left: 15px;

}

.alerticon{
    height: 30px;
    width: 30px;
    color: red;
    margin-left: 15px;
}

#webcam{
    object-fit: cover;
    border: 3px solid red;
}


.main_loading_page{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.loading_page_false{
    display: none;
}


#footer{
    position: absolute;
    bottom: 10px;
    margin: auto;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#loadingspinnerhash{
    margin: auto;
}

.inner_loading_div h3{
    font-size: 24px;
    text-align: center;
    color: black;
}

.main_top_box{
    width: 100%;
    margin-top: 10px;
    position: absolute;
    top: 0;

}

.top_alert_box{
    height: 50px;
    width: 90%;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid rgba(211, 211, 211, 0.7);
    margin: auto;

}

.message_box{
    font-size: 18px;
    color: black;
    margin-left: 15px;
}


/* bootom box */

.bottom_info_box{
    height: 250px;
    width: 34%;
    background-color: rgba(124, 220, 255, 0.2);
    position: absolute;
    bottom: 0px;
    margin-bottom: 60px;
    left: 10px;
    border-radius: 20px;
    display: block;
    border: 1px solid rgba(124, 220, 255, 0.7);
    row-gap: 10px;
    column-gap: 10px;
    padding: 0 10px;
}

.side_bottom1{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

 h4{
    color: white;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

.side_bottom2{
   
}

.side_bottom3{
    width: 100%;
    height: 30%;
    border-radius: 10px;
   
}


/* bottom canvas */
#canvas{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    border: 5px solid black;
}

#eyeCanvas{
    height: 70px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 12px;
}

#eyeGazeCanvas{
    height: 70px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
}

#HeadPose{
    height: 80px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
}






/* dashboard page */

.dashboaddiv{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(242, 242, 242), rgb(102, 89, 225), rgb(46, 46, 46));
}

.middlediv{
    width: 100%;
}

.middlediv .title{
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 34px;
    text-align: center;
}

.imgdiv1,.imgdiv2{
    width: 100%;
    height: 260px;
    position: relative;
    margin-bottom: 20px;
}

.side{
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 50px;
    color: white;
    font-weight: 700;
    font-family: cursive;
}

.image_dashboard{
    transition: 0.4s;
    width: 90%;
    height: 250px;
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    margin-bottom: 50px;
}


.image_dashboard:hover{
    transition: 0.4s;
    width: 95%;
    height: 255px;
}

.endtripbtn{
    width: 110px;
    height: 50px;
    background-color: rgb(46, 46, 255);
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 60px;
    z-index: 20;
}